body{
    background-color: beige;
    color: peru;
    font-family: arial;
}
 h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
 }

 p{
    text-align: justify;
    line-height: 1.5;
 }

 h2{
    text-align: center;
    background-color: brown;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
 }
 h4{
    font-style: italic;
    text-align: end;
 }


